<div class="container mt-2">
  <div class="card">
    <div class="card-header">Element de salaires</div>
    <div class="card-body" >
      <table class="table">
        <thead>
        <tr>

          <th>Id Element de Salaire</th>
          <th>Montant</th>
          <th>Type Element</th>

        </tr>
        </thead>


        <tbody *ngFor="let es of elementS|async">
        <tr>
          <td>{{es.idElementSalaire}}</td>
          <td>{{es.montant}}</td>
          <td>{{es.typeE}}</td>
          <td *ngIf="authService.roles.includes('ADMIN')">
            <button class="btn btn-light btn-action me-4" routerLink="/admin/editelementdesalaire"><i class="bi bi-pencil-fill"></i></button>
            <button (click)="handleDeleteElementdeSalaire(es)" class="btn btn-danger btn-action me-4"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
        </tbody>



      </table>
    </div>
  </div>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage;else loading">
      <div class="text-bg-danger">{{errorMessage}}</div>
    </ng-container>
    <ng-template #loading>
      Loading .....
    </ng-template>
  </ng-template>
</div>
