<div class="container">
  <div class="card shadow col-md-6 offset-md-3 mt-5">
    <div class="card-header bg-primary text-white">Edit Element de salaire</div>
    <div class="card-body">
      <form [formGroup]="editelementdesalaireFormGroup" (ngSubmit)="handleEditelementDesalaire()">
        <div class="form-group">
          <label class="font-weight-bold">Id Element de Salaire:</label>
          <input type="text" formControlName="idElementSalaire" class="form-control">
          <span class="text-danger"
                *ngIf="editelementdesalaireFormGroup.controls['idElementSalaire'].touched
                        && editelementdesalaireFormGroup.controls['idElementSalaire'].errors
                        && editelementdesalaireFormGroup.controls['idElementSalaire'].errors!['required']">
              ID is Required
            </span>
        </div>
        <div class="form-group">
          <label class="font-weight-bold">Montant : </label>
          <input type="number" formControlName="montant" class="form-control">
          <span class="text-danger"
                *ngIf="editelementdesalaireFormGroup.controls['montant'].touched
                        && editelementdesalaireFormGroup.controls['montant'].errors
                        && editelementdesalaireFormGroup.controls['montant'].errors!['required']">
              Montant is Required
            </span>
        </div>
        <div class="form-group">
          <label class="font-weight-bold">Type:</label>
          <input type="text" formControlName="typeE" class="form-control">
          <span class="text-danger"
                *ngIf="editelementdesalaireFormGroup.controls['typeE'].touched
                        && editelementdesalaireFormGroup.controls['typeE'].errors
                        && editelementdesalaireFormGroup.controls['typeE'].errors!['required']">
              type Element is Required
            </span>
        </div>

        <br>
        <div class="d-grid text-center">
          <button class="btn btn-primary btn-lg rounded-end">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
