<body>
<div class="header">
  <h1>À propos de SalHuman</h1>
</div>
<div class="container">
  <h2>Notre mission</h2>
  <p><span class="highlight">SalHuman</span> vise à simplifier la gestion des ressources humaines et des fiches de salaire pour les petites et moyennes entreprises. Nous offrons une solution intuitive et efficace pour gérer les informations des employés, calculer les salaires et générer les fiches de paie en toute conformité avec la législation en vigueur.</p>

  <h2>Notre équipe</h2>
  <p>Notre équipe est composée d'experts passionnés par les technologies de pointe et dédiés à fournir une expérience utilisateur exceptionnelle. Nous nous engageons à soutenir nos clients à chaque étape de leur utilisation de SalHuman, en assurant une assistance proactive et personnalisée.</p>

  <h2>Contactez-nous</h2>
  <p>Pour toute question ou demande d'information, n'hésitez pas à nous contacter :</p>
  <button class="btn" (click)="handlealert()">Contactez-nous</button>
</div>
</body>
